
*{
  margin:0;
  padding:0;
}
.raindrop {
    position: absolute;
    width: 2px; /* Width of a raindrop */
    height: 16px; /* Height of a raindrop */
    background-color: #00f; /* Raindrop color */
    animation:  sway 1s linear infinite, fall 2s linear infinite; /* Animation for falling and swaying */
    transform: rotate(-40deg);
  }

  @keyframes fall {
    0% {
      transform: translateY(-1px) rotate(-40deg);
      opacity: 0.3;
    }

    100% {
        transform: translateY(100vh) translateX(100vh) rotate(-40deg);
        opacity: 1;
      }
    }

    @keyframes sway {
      0% {
        transform: translateX(0);
      }
      50% {
        transform: translateY();
      }
      100% {
        transform: translateX(1px);
      }
    }
    .raindrops {
        position: absolute;
        width: 2px; /* Width of a raindrop */
        height: 16px; /* Height of a raindrop */
        background-color: #00f; /* Raindrop color */
        animation:   sway .8s infinite, fall 2s linear infinite; /* Animation for falling and swaying */
        transform: rotate(-40deg);
      }
    
      @keyframes fall {
        0% {
          transform: translateY(-10px) rotate(-40deg);
          opacity: 0.5;
        }
    
        100% {
            transform: translateY(100vh) translateX(100vh) rotate(-40deg);
            opacity: 1;
          }
        }
    
        @keyframes sway {
          0% {
            transform: translateX(0);
          }
          50% {
            transform: translateY();
          }
          100% {
            transform: translateX(1px);
          }
        }
        
        #Group2 {
          height: 100px;
          color: red;
          position: absolute;
          animation: bounce-float 16s  infinite;
          animation-fill-mode: forwards;
        }
        #Group3{
          animation: bounce-float 16s infinite;
        }
        #Group1{
          animation: bounce 3s infinite;
        }
        @keyframes bounce-float {
          0% {
            transform: translateY(3%) translateX(3%);
          }
          10% {
            transform: translateY(0) translateX(10%);
          }
          20% {
            transform: translateY(3%) translateX(13%);
          }
          30% {
            transform: translateY(0) translateX(20%);
          }
          40% {
            transform: translateY(3%) translateX(23%);
          }
          50% {
            transform: translateY(0) translateX(30%);
          }
          60% {
            transform: translateY(3%) translateX(33%);
          }
          70% {
            transform: translateY(0) translateX(40%);
          }
          80% {
            transform: translateY(3%) translateX(43%);
          }
          90% {
            transform: translateY(0) translateX(50%);
          }
          100% {
            transform: translateY(3%) translateX(53%);
          }
        }
        @keyframes bounce{
          0%{
            transform: translateY(-1%);
          }
        
          90%{
            transform: translateY(5%);
          }
          100%{
            transition: translateY(3%);
          }
        }
        .bird{
          animation: fly 12s infinite;
        }
        @keyframes fly{
          0%{
            transform: translateY(0) translateX(0);
          }
          25%{
            transform: translateY(-20px) translateX(-5rem);
          }
          35%{
            transform: translateY(20px) translateX(-8rem);
          }
          45%{
            transform: translateY(-20px) translateX(-11rem);
          }
          50%{
            transform: translateY(20px) translateX(-14rem);
          }
          55%{
            transform: translateY(-20px) translateX(-17rem);
          }
          65%{
            transform: translateY(20px) translateX(-20rem);
          }
          75%{
            transform: translateY(-20px) translateX(-23rem);
          }
          85%{
            transform: translateY(20px) translateX(-25rem);
          }
          100%{
            transform: translateY(-20px) translateX(-36rem);
          }
        }
       



